body
{
    background-color:lightcyan;
}

#mover
{
    width:100%;
    height:30px;
    background-color:transparent;
    color:lightskyblue;
    margin-top:-8px;
    font-size:16pt;
}

/*#logo 
{ 
   background-image: url('images/mazar.PNG');
   width:8%;
   position:relative;
   height:50px;
   text-align:left;
}*/


#dvt
{
    width:100%;
    height: 110px;
    background-color: transparent;
    position: relative;
    text-align: center;
    margin-top: -18px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#about
{
  

}
#dvt img
{ 
    width:27%;
    height:90px;
    float:left;
    padding-left:20px;
}


#dvm
{

}

h3
{
    color:deeppink;
    text-align:center;
}
#dvh
{
    width:100%;
    height:100px;
    background-color:lavenderblush;
    float:right;
    position:relative;
}

#dvr
{
   width:70%;
   height:550px;
   background-color:azure;
   position:relative;
   float:right;
}

#dvl
{
    width:15%;
    height:550px;
    background-color:Highlight;
    position:relative;
    margin-top:30px;
    margin-bottom:-10px;
    text-align:center;
    float:left;
}
#dvb {
    width: 100%;
    background-repeat: repeat-x;
    height: 100px;
    background-color: cadetblue;
    position: relative;
    float: left;
}
 
